<div
  id="background"
  class="flex h-screen flex-col items-center justify-center gap-16 bg-cover"
>
  <h1
    class="font-heading text-8xl font-bold text-white select-none text-shadow-lg"
  >
    Hvornår kommer Sarah?
  </h1>

  <div class="flex gap-8">
    @let _timeLeft = timeLeft();

    @if (_timeLeft !== undefined) {
      @if (_timeLeft.months; as value) {
        <app-countdown-unit unit="måneder" [value]="value" />
      }

      @if (_timeLeft.weeks; as value) {
        <app-countdown-unit unit="uger" [value]="value" />
      }

      @if (_timeLeft.days; as value) {
        <app-countdown-unit unit="dage" [value]="value" />
      }

      <app-countdown-unit unit="timer" [value]="_timeLeft.hours" />

      <app-countdown-unit unit="minutter" [value]="_timeLeft.minutes" />

      <app-countdown-unit unit="sekunder" [value]="_timeLeft.seconds" />
    }
  </div>
</div>
